/* reset */
* { 
box-sizing : border-box;
}
/*Color de fondo*/
body{
    background-color: gainsboro
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue
}
/*Estilo para la cabecera y el footer*/
.header, .footer{
    min-height: 3rem;
    background-color: brown;
    color: white;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-image: url('./images/estanteria.jpg');
}

.header h1{
    font-size: 3rem;
    width: 10%;
    flex: 12 1 auto;
}

/******** Menu de navegacion superior ********/
.hover:hover{
    color: #D2CFCA;
    background-color: #AA997E
}

nav a:link, a:visited{
    margin: .5rem;
    padding: 1rem 1rem;
    background-color: #D2CFCA;
    text-align: center;
    border-radius: .5rem;
    display: inline-block;
    text-decoration: none;
    color: black;
}
li {
    display: flex;
    flex-wrap: nowrap;
}

.nav_icon{
    width: 10%;
    flex: 1 1 auto;
}

.img_nav_icon{
    width: 100%
}

.nav_desc{
    display: none;
}

/*Imagenes de los articulos*/
.img_wrapper{
    width: 98%;
    margin-right: auto;
    margin-left: auto;

}

.imagen{
    width: 100%;
}

/* Aqui empiezan los estilo para los dispositivos mobiles */
/*
-Imagenes float y al 50%
-Menu superior visible*/
@media screen and (min-width: 480px){
    .img_wrapper{
        width: 98%;
        float: left;
    }
    .nav_icon{
        display: none;
    }
    .nav_desc{
        display: flex;
    }
    .nav_mobile{
        display: none;
    }
}
/* Aqui empiezan los estilo para los dispositivos tablet */
@media screen and (min-width: 768px){
    .main{
        display: flex;
    }
    .section_wrapper{
        width: 10%;
        flex: 4 1 auto; 
        padding-right: 2rem;
    }
    .aside_wrapper{
        width: 10%;
        flex: 1 1 auto;
        padding-left: 2rem; 
    }
}
/* Aqui empiezan los estilo para los dispositivos desctop */
@media screen and (min-width: 1024px){
    .section_wrapper{
        display: flex;
    
    }
    .section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}