body {
    font-family: 'Arimo', 'Oswald', san-serif, serif;
    background-image: url("./images/arena.jpg");
    background-color: antiquewhite;
}
.container{
    width: 90%;
    max-width: 1600px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

}
header{
    text-align: center;    
}
.fondo{
    background-image: url("./images/Argentina.jpg");
    position: absolute;
    float: left;
    width: 800px;
    height: 300px;
    margin: 1rem;

}
aside{
    position: relative;
    float: right;
    width: 15rem;
    height: 10rem;
    background-color: dimgray;
    color: white;
}
figure{
    float: left;
    margin: .5rem;
}


.left, .right{
    width: 40%;
    float: left;
    margin: 1rem;
}

footer{
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    position: relative;
    padding: 3rem 0rem;
    text-align: center;
    background-color: #D2CFCA;
}