main{
    background-color: paleturquoise;
    /* height: 100vh; */
    display: flex;
    /* justify-content: space-between */
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row-reverse
}

div{
    font-size: 6rem;
    padding: 1rem;
    background-color: salmon;
    border: 1px solid seashell;
    /* margin: 1rem; */
}
div:nth-of-type(3){
    font-size: 8rem;
}