*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header, .footer{
    min-height: 6rem;
    background-color: brown;
    color: palegoldenrod;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    display: flex;
}
.lado{
    padding: 3rem;
    border: 1px solid;
}

.lad_izda{
    order: 1;
    width: 10%;
    /* flex-grow: 4;
    flex-shrink: 1;
    flex-basis: auto */ 
    flex: 4 1 auto; 
}

.lad_der{
    order: 2;
    width: 10%;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto */
    flex: 1 1 auto;
}
.columnas_2 p:nth-of-type(1){
    margin-top: 0px;
}
.films{
    display: flex;
}
.columna{
    /* width: 50%;
    float: left; */
    padding: 0.5rem;
    background-color: oldlace;
}