/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700i'); */

body {
    font-family: 'Roboto', sans-serif, serif;
}

.container{
    width: 90%;
    max-width: 1800px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;   
}
header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 1px solid black;
    padding: 2rem 3rem;
    box-shadow: .5rem .5rem .5rem .5rem dimgray;
    border-radius: 3rem;
    text-align: center;
}

h2 {
    font-style: italic;
    font-weight: bold;
}
nav ul li{
    display: inline-block;
    width: 9.7rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(206, 206, 206);
    text-align: center;
    border-radius: .5rem;
}

table{
    background-color: rgb(221, 221, 221);
    border-collapse: collapse;
}
td, th{
    border: .1rem solid;
    padding: .7rem; 
}

